{% extends 'todo/base.html' %}

{% block content %}
    <h1>ตารางงานที่ต้องทำ</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">เพิ่มงาน</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i> เพิ่ม
                </button>
            </div>
        </div>

    </form>
    

    <!-- Current Todos -->
    <h2>รายการที่ต้องทำ</h2>
    <table class="table table-striped todo-table">
        <thead>
            <th>งาน</th><th>Action</th>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div style="padding-left: 10px">{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <div style="text-align: center">
                            <button>นำออก</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}